<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="https://s3-ap-northeast-1.amazonaws.com/trustless-services.com/mstile-70x70.png" style="height:60px; width:60px;" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
      aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/index.html">トップ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/services.html">サービス一覧</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/what-is-bitcoin.html">ビットコインとは</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/securing-your-bitcoin.html">安全に保管する</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about.html">会社概要</a>
        </li>
      </ul>
    </div>
  </div>
</nav>