<%- include('common/head.ejs') %>
</head>
<body>
  <%- include('common/navbar.ejs') %>

  <div class="container">
    <div class="row trustless-color mt-5 mb-5 pt-5 pb-5">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <h1 class="mb-3">会社概要</h1>
        <ul>
          <li>商号：トラストレス・サービス株式会社</li>
          <li>設立：2019年4月12日</li>
          <li>社員数：1人</li>
          <li>資本金：400万円</li>
          <li>代表取締役：加藤規新</li>
        </ul>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h1 class="mb-3">加藤規新について</h1>
            <p>弊社代表を務める加藤規新は2016年末に大学生としてビットコインに出会い、
                社会的な枠組みにとらえられない思想に共感して興味を持つ。</p>
            <p>2017年に当時の有名トレーダーのもとで調査業務を開始、ビットコインキャッシュのハードフォーク前後に技術解説を担当。
                その後もしばらくはトレード系のコミュニティ向けのリサーチ業務に従事。</p>
            <p>2019年からは<a href="https://coinkeninfo.com" target="_blank">ビットコイン研究所</a>の技術ライターとして
                週に１回の記事を寄稿しているほか、
                <a href="https://www.youtube.com/@user-wv4pc4kj9i" target="_blank">ビットコイナー反省会（YouTube）</a>
                にもレギュラー出演している。</p>
            <p>その他、ビットコイン関連の翻訳業務や受託開発に従事しながら、トラストレス・サービス株式会社を通して
                実験的なサービス開発や研究などを行っている。</p>
            <p>ビットコインの中でもライトニングネットワークが一番の専門分野。</p>
        </div>
    </div>
  </div>

<%- include('common/end.ejs') %>