<%- include('common/head.ejs') %>
</head>
<body>
  <%- include('common/navbar.ejs') %>

  <div class="container">
    <div class="row trustless-color mt-5 mb-5 pt-5 pb-5">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <h1 class="mb-3">会社概要</h1>
        <ul>
          <li>商号：トラストレス・サービス株式会社</li>
          <li>設立：2019年4月12日</li>
          <li>社員数：1人</li>
          <li>資本金：400万円</li>
          <li>代表取締役：加藤規新</li>
        </ul>
      </div>
    </div>
  </div>

<%- include('common/end.ejs') %>