<%- include('common/head.ejs') %>
</head>
<body>
  <%- include('common/navbar.ejs') %>

  <div class="container mt-5">
    <div class="row">
      <div class="jumbotron pl-5 trustless-color">
        <h1 class="display-3 pl-0">トラストレスサービス株式会社</h1>
        <h2>Trustless Services K.K.</h2>
        <p class="lead">KISHIN KATO · KISHIN@TRUSTLESS-SERVICES.COM · <a href="https://twitter.com/trustless_inc">@trustless_inc</a></p>
        <hr class="my-4">
        <p>ビットコインの特徴である「トラストレス」とは、自分の資産を他人に「トラスト(=信頼、信託)」せずとも保有や取引が行える構造のことです。<br>
          当社は可能な限り第三者による検証が可能なトラストレスなソリューションを提供することを目標に定め、 ビットコインと関連技術を通して社会の役に立つ会社を目指します。</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        2022/05/02 <a href="/blog/2022-05-02-btclog-retired">BTCLogがサービスを終了</a>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <h1 class="mb-3">サービス一覧</h1>
        <p>弊社が関わるサービスについては、<a href="services.html">サービス一覧のページ</a>へどうぞ。</p>
      </div>
      <div class="col-sm-4">
        <h1 class="mb-3"><a href="https://paddle.bid" target="_blank">Paddle.bid</a></h1>
        <p>Paddleはライトニングネットワークを活用して誰でもオークションを開催できるプラットフォームです。</p>
      </div>
      <div class="col-sm-4">
        <h1 class="mb-3"><a href="https://btclog.info" target="_blank">BTCLog.info</a></h1>
        <p>BTCLogはクラウドソースのビットコイン関連ニュースサイトです。チャートに重ねたり、タイムライン形式で閲覧できます。</p>
      </div>
    </div>
  </div>

<%- include('common/end.ejs') %>