<%- include('common/head.ejs') %>
</head>
<body>
  <%- include('common/navbar.ejs') %>

  <div class="container">
    <div class="row trustless-color mt-5 mb-5 pt-5 pb-5">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <h1 class="mb-3">安全な保管について</h1>
        <p>
          基本的な使い方や保管の仕方を覚えたら、次は安全に使用したり保管するのに役立つ知識を身につけましょう。
          火事や天災、盗難や死後のことを考えて対策することが大切です。
        </p>
        <table>
          <tbody>
            <tr>
              <th scope="row"><a href="https://note.mu/btc_dakara/n/ndfeca2c1c3e4">初心者向け：ビットコインとは (BITCOIN EXPLAINED 日本語訳)</a></th>
              <td>イラスト付きで初心者にもわかりやすい海外サイトの説明を和訳しました。</td>
            </tr>
            <tr>
              <th scope="row"><a href="https://jp.techcrunch.com/2015/03/31/bitcoin-essay/">誰も教えてくれないけれど、これを読めば分かるビットコインの仕組みと可能性</a></th>
              <td>2015年と少し古く、とても長い記事ですが、詳しく解説してあります</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<%- include('common/end.ejs') %>