<%- include('common/head.ejs') %>
</head>
<body>
  <%- include('common/navbar.ejs') %>

  <div class="container">
    <div class="row trustless-color mt-5 mb-5 pt-5 pb-5">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <h1 class="mb-3">弊社が提供するサービス一覧</h1>
        <ul>
          <li class="li-body">ビットコイン関連ニュースを振り返るサイト "<a href="https://btclog.info">BTCLog</a>"</li>
          <li class="li-body">ビットコインやライトニングネットワークを用いたサービス開発(随時)</li>
          <li class="li-body">マルチシグアドレスの秘密鍵を1つ預かる保管サービス(近日発表)</li>
          <li class="li-body">コンサルティング・講師(随時、応相談)</li>
        </ul>
      </div>
    </div>
  </div>

<%- include('common/end.ejs') %>