<%- include('common/head.ejs') %>
</head>
<body>
  <%- include('common/navbar.ejs') %>

  <div class="container">
    <div class="row trustless-color mt-5 pt-5 pb-5">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <h1 class="mb-3">ビットコインに初めて出会う方へ</h1>
        <p>
          Googleで検索しても射幸心を煽るブログや投機のことばかりで、ビットコインが何なのか、なぜ革新的なのかを中心に据えているサイトはなかなかありません。
          また、初心者を食い物にすることが目的の媒体や人物もいますので、常に疑い深く読むことが大事です。
        </p>
        <table>
          <tbody>
            <tr>
              <th scope="row"><a href="https://note.mu/btc_dakara/n/ndfeca2c1c3e4">初心者向け：ビットコインとは (BITCOIN EXPLAINED 日本語訳)</a></th>
              <td>イラスト付きで初心者にもわかりやすい海外サイトの説明を和訳しました。</td>
            </tr>
            <tr>
              <th scope="row"><a href="https://jp.techcrunch.com/2015/03/31/bitcoin-essay/">誰も教えてくれないけれど、これを読めば分かるビットコインの仕組みと可能性</a></th>
              <td>2015年と少し古く、とても長い記事ですが、詳しく解説してあります</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row trustless-color-light pt-5 pb-5">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <h1 class="mb-3">ブロックチェーンを読み解く</h1>
        <p>
          ビットコインの送金がすべて記録されるブロックチェーンは、世界中に公開されています。
          このデータを使って、現在どれくらいビットコインが使われているのかや、その時点で適切な手数料の相場がわかります。
        </p>
        <table>
          <tbody>
            <tr>
              <th scope="row"><a href="https://blockchain.com/">BLOCKCHAIN.INFO</a></th>
              <td>大手ブロックチェーンエクスプローラー。すべてのブロックに入っているすべてのトランザクションを見たり、辿ることができる。</td>
            </tr>
            <tr>
              <th scope="row"><a href="https://jochen-hoenicke.de/queue/#0,24h">JOHOE'S BITCOIN MEMPOOL STATISTICS</a></th>
              <td>メモリプールの状態の遷移、すなわち混雑度や手数料相場を見ることができる。どれくらい急ぎの送金なのかによって手数料を変えたい場合などに便利。</td>
            </tr>
            <tr>
              <th scope="row"><a href="https://bitinfocharts.com/top-100-richest-bitcoin-addresses-8.html">BITINFOCHARTS - BITCOIN RICH LIST</a></th>
              <td>ビットコイン保有額上位のアドレスや残高の推移を見ることができる。取引所が顧客資産を預かるコールドウォレットとはっきりわかっているものはその旨が記載されている。</td>
            </tr>
            <tr>
              <th scope="row"><a href="https://statoshi.info/">STATOSHI</a></th>
              <td>通信量やメモリプールの状況、ネットワークの状況など、フルノード関連の指標をたくさん確認することができる。マニア向け。</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row pt-5 pb-5">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <h1 class="mb-3">使用・保管の知識を身につける</h1>
        <p>
          最初は難しいかもしれないビットコインの使い方、保管の仕方を紹介します。
        </p>
        <table>
          <tbody>
            <tr>
              <th scope="row"><a href="#">準備中</a></th>
              <td>(準備中)</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
    <div class="row trustless-color pt-5 pb-5">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <h1 class="mb-3">ライトニング・ネットワークとは</h1>
        <p>
          ビットコインをより高速に、少額で使うことのできるライトニングネットワークについて紹介します。
        </p>
        <table>
          <tbody>
            <tr>
              <th scope="row"><a href="https://1ml.com/">1ML</a></th>
              <td>ライトニングネットワークのノードを検索したり、ノード数や総額などを見ることができる。</td>
            </tr>
            <tr>
              <th scope="row"><a href="#">準備中</a></th>
              <td>(準備中)</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<%- include('common/end.ejs') %>