<%- include('../common/head.ejs') %>
</head>
<body>
  <%- include('../common/navbar.ejs') %>

  <div class="container">
    <div class="row mt-5 mb-5 pt-5 pb-5">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <h1 class="mb-3">弊社代表がビットコイン研究所の技術ライターに就任</h1>
        <p>
            日本最大のビットコイン専門オンラインサロン：<a href="https://coinkeninfo.com/" target="_blank">ビットコイン研究所</a>において技術ライターに就任し、これからレギュラーとして毎週の技術解説記事を寄稿させていただくことになりました。
        </p>
        <p>
            注）AndGo社へのビットコイン研究所の譲渡に伴うFacebookからGhostへのプラットフォーム移行の影響で2019-2020年頃の記事が閲覧できなくなっている場合がございます。Facebookのグループ上には残存しているため、会員の方はそちらでご覧いただけます。
        </p>
      </div>
    </div>
  </div>

<%- include('../common/end.ejs') %>