<%- include('../common/head.ejs') %>
</head>
<body>
  <%- include('../common/navbar.ejs') %>

  <div class="container">
    <div class="row mt-5 mb-5 pt-5 pb-5">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <h1 class="mb-3">Opendimeを開封（秘密鍵を平文化）せずに公開鍵を抽出するツールを弊社ウェブサイト上に公開</h1>
        <p>
            OpendimeはCoinkite社（カナダ）が製造・販売するハードウェアで、秘密鍵を抽出するのに物理的に破壊する必要がある
            という特徴があります。このため、破壊されていない状態のOpendimeそのものをやり取りすることで、トラストレスに
            オフチェーンでビットコインの取引を行うことができます。（デバイスを破壊しなければ秘密鍵は生成時からずっとその
            デバイスを離れることがないため、Opendimeの譲渡＝秘密鍵の不可逆な譲渡になります）
        </p>
        <p>
            今回弊社が公開したツールはOpendimeを破壊せずに（秘密鍵の安全性を保ったまま）公開鍵を抽出できることでマルチシグの
            １つの鍵として利用できるようになるものです。ツールは
            <a href="https://trustless-services.com/opendime-pubkey" target="_blank">こちら</a>からご利用いただけます。
        </p>
        <p>
            また、同日にUnchained Capital社（アメリカ）も自社製品にOpendimeからの公開鍵抽出機能を追加する
            プルリクエストを作成していますが、弊社ツールとは無関係のものです。
        </p>
        <p>
            弊社代表のNoteに<a href="https://note.com/btc_dakara/n/n9a87e4209a08" target="_blank">プレスリリース</a>
            を公開しましたのでそちらもご覧ください。
        </p>
      </div>
    </div>
  </div>

<%- include('../common/end.ejs') %>