<%- include('../common/head.ejs') %>
</head>
<body>
  <%- include('../common/navbar.ejs') %>

  <div class="container">
    <div class="row mt-5 mb-5 pt-5 pb-5">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <h1 class="mb-3">Blockstream Satelliteで配信されたメッセージを一覧表示するBlocksat.infoを公開</h1>
        <p>
            Blockstream Satelliteではライトニング決済によって人工衛星から世界中に任意のメッセージを配信できます。
            弊社の衛星アンテナで受信したメッセージや画像を一覧表示する掲示板として<a href="https://blocksat.info" target="_blank">blocksat.info</a>を公開しました。
            衛星アンテナを持っていない場合の配信確認などにぜひご利用ください。
        </p>
      </div>
    </div>
  </div>

<%- include('../common/end.ejs') %>