<%- include('../common/head.ejs') %>
</head>
<body>
  <%- include('../common/navbar.ejs') %>

  <div class="container">
    <div class="row mt-5 mb-5 pt-5 pb-5">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <h1 class="mb-3">ライトニングを使ったオークションサイト「Paddle」をリリース</h1>
        <p>
            ビットコインのライトニングネットワークを使って誰でもオークションを開催できるオークションサイト「Paddle」をリリースしました。
            Hodl invoiceという技術を使って最高入札者にのみ供託金を課し、それ以外の入札者には即時に返金できるほか、
            プラットフォームが提供する機能をオークションエンジンに限定することで利用手数料を1%に抑えました。
            （供託金がそのまま手数料として徴収されます）
        </p>
        <p>
          <a href="https://spotlight.soy/detail?article_id=q64pmh4dt" target="_blank">Spotlight</a>にリリースの記事を掲載しています。
        </p>
      </div>
    </div>
  </div>

<%- include('../common/end.ejs') %>