<%- include('../common/head.ejs') %>
</head>
<body>
  <%- include('../common/navbar.ejs') %>

  <div class="container">
    <div class="row mt-5 mb-5 pt-5 pb-5">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <h1 class="mb-3">日本最大のライトニングネットワーク・コミュニティ「Diamond Hands」からレポートをリリース</h1>
        <p>
            日本最大のライトニングネットワークユーザーのコミュニティであるDiamond Handsから、
            「ライトニングネットワーク概観」と題したレポートをリリースいたしました。弊社代表が共同著者となっています。
            こちらのレポートは特にライトニングの採用を検討する企業の意思決定者などにお読みいただけるよう工夫しているので、
            ぜひ<a href="https://diamondhands.technology/" target="_blank">Diamond Handsのウェブサイト</a>または
            <a href="https://docsend.com/view/e67t2yst5yvjjt76" target="_blank">ダウンロードリンク</a>より
            ダウンロードしていただきご一読ください。
        </p>
        <p>
            Diamond Handsの東晃慈氏によるプレスリリースも
            <a href="https://spotlight.soy/detail?article_id=61nznobgd" target="_blank">Spotlightに掲載</a>されています。
        </p>
      </div>
    </div>
  </div>

<%- include('../common/end.ejs') %>