<%- include('../common/head.ejs') %>
</head>
<body>
  <%- include('../common/navbar.ejs') %>

  <div class="container">
    <div class="row mt-5 mb-5 pt-5 pb-5">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <h1 class="mb-3">クレジットベースのライトニングチャネルを実現するプロジェクト「BSCCO」について情報サイトを公開</h1>
        <p>
            現在のライトニングネットワークはすべてのチャネルが実際のビットコインとそれを使うオフチェーンのトランザクションによって
            裏付けられていることで究極のトラストレス性を保ったままビットコインのスケーラビリティの改善を実現しています。
            しかし、現実にはこれがスケーリングのボトルネックになることは明白です。
        </p>
        <p>
            <a href="https://bscco.xyz" target="_blank">BSCCO</a>は究極のトラストレス性を必要としないノード間で
            クレジットベースのライトニングチャネルを使用できるようにすることでライトニングネットワークのスケーラビリティを
            一層強化するコンセプトで弊社が研究開発している技術です。現状のライトニングのスケーラビリティの限界が1000万人単位の
            ユーザーであれば、クレジットの導入はそれを1億人、10億人単位へとスケールさせる1つの方法だと考えています。
        </p>
        <p>
            また、現状のライトニングネットワークとの互換性にはチャネルを表すオンチェーンのUTXOが必要になりますが、
            BSCCOでは「UTXOの貸出」のような形でチャネル開設前にあらかじめ用意したUTXOを利用できるため、ビットコインの
            送金手数料が安い時期にチャネル開設を「予約」することでライトニング自体の手数料削減を実現できるかもしれません。
        </p>
        <p>
            BSCCOは期限を定めずゆっくり開発していますが、今回公開した
            <a href="https://bscco.xyz" target="_blank">情報サイト</a>から解説をご覧いただけます。
        </p>
      </div>
    </div>
  </div>

<%- include('../common/end.ejs') %>