<%- include('../common/head.ejs') %>
</head>
<body>
  <%- include('../common/navbar.ejs') %>

  <div class="container">
    <div class="row mt-5 mb-5 pt-5 pb-5">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <h1 class="mb-3">三井物産株式会社の社内勉強会にスピーカーとして参加</h1>
        <p>
            弊社代表はDiamond Handsの東晃慈氏とともに三井物産株式会社のビットコインに関する社内勉強会に登壇し、<a href="/blog/2022-07-12-diamond-hands-lightning-report">Diamond Handsから出したレポート</a>の内容を中心にライトニングネットワークについて解説し、ビットコインの技術や事業としての関わり方について意見交換をしました。
        </p>
      </div>
    </div>
  </div>

<%- include('../common/end.ejs') %>