<%- include('../common/head.ejs') %>
</head>
<body>
  <%- include('../common/navbar.ejs') %>

  <div class="container">
    <div class="row mt-5 mb-5 pt-5 pb-5">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <h1 class="mb-3">BTCLogがサービスを終了</h1>
        <p>
          2019年夏より3年近くご愛用いただきましたBTCLogのサービスを利用低迷につき終了いたしました。
          長らくのご愛用ありがとうございました。
        </p>
        <p>
          <a href="https://btclog.info" target="_blank">BTCLogのサイト</a>から収集されたツイートのデータベースをダウンロードいただけます。
        </p>
      </div>
    </div>
  </div>

<%- include('../common/end.ejs') %>