<%- include('../common/head.ejs') %>
</head>
<body>
  <%- include('../common/navbar.ejs') %>

  <div class="container">
    <div class="row mt-5 mb-5 pt-5 pb-5">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <h1 class="mb-3">弊社代表がBitcoin Thailand Conference 2023にて登壇</h1>
        <p>
            弊社代表がタイ・バンコクにて7月15-16日に開催される<a href="https://rightshift.to/btc2023/" target="_blank">Bitcoin Thailand Conference 2023</a> にて
            「Regulatory landscape for Bitcoin Adoption in SEA」と題するパネルディスカッションに登壇しました。
        </p>
        <img src="https://s3.ap-northeast-1.amazonaws.com/trustless-services.com/IMG_20230715_110125_401.jpg"
        style="width: 100%;">
      </div>
    </div>
  </div>

<%- include('../common/end.ejs') %>