<%- include('../common/head.ejs') %>
</head>
<body>
  <%- include('../common/navbar.ejs') %>

  <div class="container">
    <div class="row mt-5 mb-5 pt-5 pb-5">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <h1 class="mb-3">オークションサイト「Paddle」の提供を一時休止します</h1>
        <p>
            Twitter APIの変更に伴い、ライトニングを使ったオークションサイト「Paddle」のサービス提供を一時休止します。
            ログイン機能を含め大幅なリニューアルを行って提供再開するかは今後検討してまいります。
        </p>
        <p>
            Paddleの運営から得られた知見は別途記事にまとめます。
        </p>
      </div>
    </div>
  </div>

<%- include('../common/end.ejs') %>