<%- include('../common/head.ejs') %>
</head>
<body>
  <%- include('../common/navbar.ejs') %>

  <div class="container">
    <div class="row mt-5 mb-5 pt-5 pb-5">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <h1 class="mb-3">神奈川県庁の職員向けにビットコイン・ライトニングの勉強会を開催</h1>
        <p>
            弊社代表はDiamond Handsの東晃慈氏とともに神奈川県庁の職員の方たち向けにビットコインやライトニングの勉強会を実施しました。ビットコインの思想や、神奈川県としてどのような形でビットコインと関わっていくことに意義があるかについて有意義な議論を交わしました。
        </p>
      </div>
    </div>
  </div>

<%- include('../common/end.ejs') %>