<%- include('../common/head.ejs') %>
</head>
<body>
  <%- include('../common/navbar.ejs') %>

  <div class="container">
    <div class="row mt-5 mb-5 pt-5 pb-5">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <h1 class="mb-3">三井物産株式会社の社内勉強会にスピーカーとして参加</h1>
        <p>
            弊社代表はDiamond Handsの東晃慈氏とともに三井物産株式会社のビットコインに関する社内勉強会に2年ぶりに登壇し、昨年<a href="/blog/2023-02-09-tokens-on-bitcoin-report">Diamond Handsから出したレポート</a>の内容を引用しつつビットコイン上のトークン発行とライトニングの未来について発表し、意見交換をしました。
        </p>
        <img src="https://s3.ap-northeast-1.amazonaws.com/trustless-services.com/IMG_20240709.jpg"
        style="width: 100%;">
      </div>
    </div>
  </div>

<%- include('../common/end.ejs') %>