<%- include('../common/head.ejs') %>
</head>
<body>
  <%- include('../common/navbar.ejs') %>

  <div class="container">
    <div class="row mt-5 mb-5 pt-5 pb-5">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <h1 class="mb-3">弊社代表がAgileEnergyX社の群馬県のサイトを見学</h1>
        <p>
            弊社代表はBitcoin Tokyo 2024カンファレンスに関連して、9月24日に<a href="https://agileenergyx.co.jp/" target="_blank">AgileEnergyX</a>社の群馬県のサイトを見学させていただきました。
        </p>
        <p>
            系統混雑によって売電できるようになるまで3年もの期間が空いてしまう太陽光発電設備の生産する電力を使ってマイニングを行う上で必要になった様々な工夫についてたくさんの質問に回答していただきありがとうございました。
        </p>
        <img src="https://s3.ap-northeast-1.amazonaws.com/trustless-services.com/2024-09-30-12-23-12-639.jpg"
        style="width: 100%;">
      </div>
    </div>
  </div>

<%- include('../common/end.ejs') %>