<%- include('../common/head.ejs') %>
</head>
<body>
  <%- include('../common/navbar.ejs') %>

  <div class="container">
    <div class="row mt-5 mb-5 pt-5 pb-5">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <h1 class="mb-3">弊社代表がBaltic Honeybadger 2024およびNostriga 2024に参加</h1>
        <p>
            ラトビア・リガにて8月22-25日に開催された<a href="https://https://baltichoneybadger.com/" target="_blank">Baltic Honeybadger 2024</a>および<a href="https://nostr.world/" target="_blank">Nostriga 2024</a>に弊社代表が参加しました。
        </p>
        <p>
            参加レポートを<a href="https://spotlight.soy/detail?article_id=lvzbfej70" target="_blank">こちら</a>に掲載しておりますので、ぜひご覧ください。
        </p>
      </div>
    </div>
  </div>

<%- include('../common/end.ejs') %>