<%- include('../common/head.ejs') %>
</head>
<body>
  <%- include('../common/navbar.ejs') %>

  <div class="container">
    <div class="row mt-5 mb-5 pt-5 pb-5">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <h1 class="mb-3">Tokyo Bitdevs HackersとDiamond Hands、Tokyo Citadelが共同開催の勉強会に弊社代表が登壇</h1>
        <p>
            3月6日に東京・渋谷で開催されたビットコイン開発者向け勉強会「Bitcoin and Lightning development 101 for prospective Bitcoin developers」
            （邦題：開発者のためのビットコイン＆ライトニング開発基本講座）において、弊社代表がライトニングネットワークを使ってみたい
            開発者向けにテスト用ネットワーク作成ツールであるPolarの使い方を説明する講義を行いました。
        </p>
        <p>
            今回のイベントは「東京ビットコイン勉強会」を主催するTokyo Bitcoin Hackers、日本最大のライトニングネットワークユーザーコミュニティのDiamond Hands、
            そして東京ベースのビットコインコミュニティであるTokyo Citadelが共同開催し、60名ほどの参加者が出席しました。
            また、金融庁が主催するJapan Fintech Week 2024を構成するサイドイベントの１つとなっています。
        </p>
        <p>
            イベントの詳細は
            <a href="https://cryptoevents.global/tokyo-bitdevs-hackers-bitcoin-and-lightning-development-101-for-prospective-bitcoin-developers/"
            target="_blank">こちら</a>から。
        </p>
      </div>
    </div>
  </div>

<%- include('../common/end.ejs') %>