<%- include('../common/head.ejs') %>
</head>
<body>
  <%- include('../common/navbar.ejs') %>

  <div class="container">
    <div class="row mt-5 mb-5 pt-5 pb-5">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <h1 class="mb-3">弊社代表がBitcoin Tokyo 2024およびNostrasia 2024にて登壇</h1>
        <p>
            東京にて9月21-22日に開催された<a href="https://bitcoinconference.tokyo" target="_blank">Bitcoin Tokyo 2024</a>にて、以下のパネルディスカッションに参加しました。
        </p>
        <ul>
            <li>
                Japan's Unique Bitcoin Ecosystem（英語）―日本におけるビットコインの現状を、海外からの参加者向けにデータ等を元にQ&Aも交えて解説しました。
            </li>
            <li>
                Bitcoin L2 Protocls Faceoff（英語）―ビットコイン上でトークンの発行を可能にする３つの技術を代表する著名なビットコイン技術者をゲストに迎え、どのような思想でビットコイン上でトークンを発行しようと思ったのか、それぞれのプロトコルの長所や短所などについてディスカッションのモデレーションを行いました。
            </li>
            <li>
                海外事例：ビットコイン上で展開されるビジネス（日本語）―ライトニングやビットコインを実際に活用したビジネス事例を紹介しました。
            </li>
            <li>
                ライトニングネットワークが抱える課題と限界（英語）―Boltzの創業者をゲストに迎え、ライトニングについて課題と感じられている部分にフォーカスしたディスカッションを行いました。
            </li>
            <li>
                ビットコインレイヤー２：それぞれの特徴と最適な用途（日本語）―スケーリングを主眼に置いたビットコインレイヤー２について浅く広くカバーし、アルトコインのブロックチェーンもビットコインのレイヤー２たりえるか？など普段とは異なる視点も交えまて説明しました。
            </li>
        </ul>
        <img src="https://s3.ap-northeast-1.amazonaws.com/trustless-services.com/1727100968016.jpg"
        style="width: 100%;">
        <p>
            また、翌日に東新宿でサイドイベントとして開催されたNostrasia 2024においても、「宇宙旅行リレー」と題したLightning Talkを披露させていただきました。あまりシリアスな内容ではありませんでしたが、お楽しみいただけたなら幸いです。
        </p>
        <img src="https://s3.ap-northeast-1.amazonaws.com/trustless-services.com/_L5A6818.jpg"
        style="width: 100%;">
      </div>
    </div>
  </div>

<%- include('../common/end.ejs') %>