<%- include('../common/head.ejs') %>
</head>
<body>
  <%- include('../common/navbar.ejs') %>

  <div class="container">
    <div class="row mt-5 mb-5 pt-5 pb-5">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <h1 class="mb-3">弊社代表がBitcoin Seoul 2024にて登壇</h1>
        <p>
            韓国・ソウルにて5月29-31日に開催された<a href="https://www.bitcoinseoul.kr/" target="_blank">Bitcoin Seoul 2024</a>（ソウル経済新聞主催）にて「Building Lightning Services」と題したプレゼンテーションをDev Hallにて発表しました。
        </p>
        <p>
            発表の内容は自身がライトニングに興味をもったきっかけとなったサービスについて触れ、その後自身がトラストレス・サービス株式会社にてどのような実験的なサービスを開発したかを紹介しました。その後、それらの実験から何を学び、その結果抱いたライトニングネットワークの将来像と、それを実現するために足りない部分を補う方法方法の検討にまで話を展開しました。
        </p>
        <p>
            客席はまばらでしたが、Lightning LabsのOlaoluwa Osuntokun氏などに興味を持って聴いていただき、最後に複数の質問とコメントをいただくことができました。今後も引き続き学び続け、精進いたします。
        </p>
        <img src="https://s3.ap-northeast-1.amazonaws.com/trustless-services.com/IMG_20240530_231200.jpg"
        style="width: 100%;">
      </div>
    </div>
  </div>

<%- include('../common/end.ejs') %>